<html>
    <head>
        <title>Smart Chat Bot</title>
    </head>
    <body>
         <form action="" method="post" name="login">
            {{ form.hidden_tag() }}
            <p>
                {{ form.command(size=120) }}<br>
            </p>
            <p><input type="submit" value="Execute"></p>
        </form>
        </br>
        <div>
            {% if result %}
                {% for row in result %}
                    <div>
                        <p><b>{{ row.type }}</b></p>
                        <img src={{ row.text }}></img>
                    </div>
                    <br>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>